* {
    margin: 0;
    padding: 0;

}
#nav {
    /* height: 100px; */
    width: 100%;
    position: fixed;
    background-color: #db616100;
    z-index: 99;
    padding: 25px;

}

*::selection {
    color: #fff;
    background-color: black;
}

body,
html {
    height: 100%;
    width: 100%;

}
body {
    background-color: #f7f7f7;
}
#curser {
    width: 220px;
    height: 220px;
    position: fixed;
    background-color: rgba(82, 83, 95, 0.233);
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    
}
#page1 {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 12vw;
}

#page1 h1 {
    font-family: 'Futura', sans-serif;
    font-size: 14vw;
    line-height: 13vw;
    letter-spacing: -5px;
}

#video-container {
    position: relative;
    height: 100vh;
    width: 98%;
    background-color: black;
    margin-top: 1vw;
    overflow: hidden;
}

#video-container video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#video-container #play {
    padding: 3.2vw 2vw;
    background-color:rgb(255, 51, 0);
    color: #fff;
    font-size: 2vw;
    position: fixed;
    text-transform: uppercase;
    font-family: 'Futura', sans-serif;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
    scale: 0;
}

#page2 {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 2.2vw 0;
}

#page2 .elem {
    position: relative;
    height: 100%;
    width: 31%;
    /* background-color: red; */
    overflow: hidden;

}

#page2 .elem img  {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

#page2 .elem .dets {
    height: 50px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    transform: translate(-50%,-50%);
    background-color:rgba(0, 0, 0, 0.466);
    
}
#page2 .elem .dets:hover{
    width: 80%;
    height: 170px;
    background-color: rgba(0, 0, 0, 0.578);

}
#page3 {
    position: relative;
    min-height: 120vh;
    width: 100%;
    background-color: #f7f7f700;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.child {
    height: 55vh;
    width: 40vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.child img {
    height: 100%;
}
